.App {
  text-align: center;
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap; 
}

.list {
  min-width: 33.33%;
  padding-left: 15px;
  text-align: justify;
  min-height: 250px;
  border-left: 2px solid green;
  border-right: 2px solid green;
}