.App {
  text-align: center;
}

.displayPane {
  display: inline-block;
  width: 50%;
  height: 50%;
  text-align: center;
  margin-top: 20px;
}

button {
  background-color: greenyellow;
  display: inline;

}

p {
  display: inline;
  margin: 5px;
}